<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div class="ui segment">
        <div class="ui segment">
            <h1>Welcome to FlavorTown.AI</h1>
        </div>

        <form method="POST" action="#" enctype='multipart/form-data'> {% csrf_token %}
                {{imageForm.as_p}}
            <p>Upload a photo of your ingredients here!            
                <div class="ui small image" id="uploadedImageContainer">
                    <div class="ui segment" style="width: 300px; height: 300px; display: flex; justify-content: center; align-items: center;">
                        <label for="imageUpload" class="ui active button">
                            <i class="upload icon"></i>
                            Upload
                        </label>
                    </div>
                </div>
            </p>
            <button class="fluid ui button" id="submitPhoto" type="submit">
                <i class="bolt icon"></i>
                Submit photo!
            </button>


        </form>
    </div>
</body>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // Add an event listener to the file input to handle the selected image
    document.querySelector('#imageUpload').addEventListener('change', function () {
        // Get the selected image file
        const selectedImage = this.files[0];

        // Reference to the target <div> where you want to display the image
        const imageContainer = document.getElementById('uploadedImageContainer');

        // Create an <img> element to display the selected image
        const imageElement = document.createElement('img');
        imageElement.width = 300; // Set the width to match the existing SVG
        imageElement.height = 300; // Set the height to match the existing SVG

        if (selectedImage) {
            // Set the selected image as the source
            imageElement.src = URL.createObjectURL(selectedImage);

            // Clear the existing SVG content
            imageContainer.innerHTML = '';

            // Append the <img> element to the container
            imageContainer.appendChild(imageElement);
        }
    });
});
</script>
