<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div class="ui segment">
        <div class="ui segment">
            <h1>Welcome to FlavorTown.AI</h1>
        </div>

        <form method="POST" action="#" enctype='multipart/form-data'> {% csrf_token %}
            {{form.as_p}}
        <p>Upload a photo of your ingredients here!
            <label for="imageUpload" class="ui active button">
                <i class="upload icon"></i>
                Upload
            </label>
            <input type="file" id="imageUpload" style="display: none;" accept="image/*" name="imageUpload">
            <div class="ui small image" id="uploadedImageContainer">
            <svg width="300" height="300">
                <image xlink:href="/images/wireframe/image.png" x="0" y="0" width="100%" height="100%"></image>
            </svg>
            </div>

        </p>
        <button type="submit" id="getIngredients" class="ui active button" value="save">Get Ingredients</button>
        </form>


        <div class = "ui segment">
            <h3>
                Ingredients
            </h3>
            <div class="ui form">
                <div class="field">
                <textarea></textarea>
                </div>
            </div>
        </div>
        <button class="fluid ui button">
            <i class="bolt icon"></i>
            Generate Recipes!
        </button>
    </div>
</body>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // Add an event listener to the file input to handle the selected image
    document.querySelector('#imageUpload').addEventListener('change', function () {
        // Get the selected image file
        const selectedImage = this.files[0];

        // Reference to the target <div> where you want to display the image
        const imageContainer = document.getElementById('uploadedImageContainer');

        // Create an <img> element to display the selected image
        const imageElement = document.createElement('img');
        imageElement.width = 300; // Set the width to match the existing SVG
        imageElement.height = 300; // Set the height to match the existing SVG

        if (selectedImage) {
            // Set the selected image as the source
            imageElement.src = URL.createObjectURL(selectedImage);

            // Clear the existing SVG content
            imageContainer.innerHTML = '';

            // Append the <img> element to the container
            imageContainer.appendChild(imageElement);
        }
    });
});
</script>