<!-- display_image.html -->
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui segment">
        <h1>Welcome to FlavorTown.AI</h1>
    </div>

    <button class="fluid ui button" id="goBack">
        <i class="reply icon"></i>
        Go Back!
    </button>

    {% if uploaded_image %}
        <img src="{{ uploaded_image.image.url }}" alt="Uploaded Image" style="width: 300px; height: 300px;">
    {% else %}
        <p>No image uploaded</p>
    {% endif %}
    
    <div class = "ui segment">
        <h3>
            Ingredients
        </h3>
        <div class="inputContainer">
            <br>
            <button class="ui compact icon button" id="addInput"><i class="plus icon"></i></button>
        </div>
    </div>

    <button class="fluid ui button" id="getIngredients" type="submit">
        <i class="bolt icon"></i>
        Generate Recipes!
    </button>

    <div id="displayIngredients"></div>

</body>
</html>

<script>
document.addEventListener('DOMContentLoaded', function () {

    let inputCounter = 1; // To keep track of input IDs

    // Decode array received from Django.
    function decodeHtmlEntities(encodedArray) {
    // Split the input string into an array
        return encodedArray.split(',').flatMap(function (item) {
        // Parse each item as HTML
            var doc = new DOMParser().parseFromString(item, 'text/html');
            // Get the text content
            var decodedValue = doc.body.textContent || "";
            // Remove leading and trailing characters
            decodedValue = decodedValue.replace(/[^\w\s]/g, '');
            // Return the decoded value
            return decodedValue;
        });
    }

    let imageClasses = decodeHtmlEntities("{{imageClasses}}")

    // Add a new label for ingredient element in imageClasses.
    for (var i = 0; i < imageClasses.length; i++){
        const inputContainer = document.querySelector('.inputContainer');
        const newInputField = document.createElement('div');
        newInputField.className = 'ui input';
        newInputField.id = inputCounter;
        newInputField.innerHTML = `
            <p class="ui label">${imageClasses[i]}</p>
            <button class="ui compact icon button remove-input" id="removeInput${inputCounter}"><i class="trash icon"></i></button>
        `;
        inputContainer.insertBefore(newInputField, document.getElementById('addInput'));

        // Add a line break after each new text input
        const lineBreak = document.createElement('br');
        inputContainer.insertBefore(lineBreak, document.getElementById('addInput'));

        inputCounter++; // Increment the inputCounter
    }

    let ingredientsArray = []; // Create an array to store ingredients

    document.getElementById('addInput').addEventListener('click', function() {
        const inputContainer = document.querySelector('.inputContainer');
        const newInputField = document.createElement('div');
        newInputField.className = 'ui input';
        newInputField.innerHTML = `
            <input type="text">
            <button class="ui compact icon button remove-input" id="removeInput${inputCounter}"><i class="trash icon"></i></button>
        `;
        inputContainer.insertBefore(newInputField, document.getElementById('addInput'));

        // Add a line break after each new text input
        const lineBreak = document.createElement('br');
        inputContainer.insertBefore(lineBreak, document.getElementById('addInput'));

        inputCounter++; // Increment the inputCounter

    });

    document.querySelector('.inputContainer').addEventListener('click', function(event) {
        if (event.target.classList.contains('remove-input')) {
            const inputContainer = document.querySelector('.inputContainer');
            const inputField = event.target.parentElement;
            const lineBreak = inputField.nextElementSibling; // Get the next sibling (line break)
            const removeID = inputContainer.id;

            imageClasses.splice(removeID - 1, 1); // Delete from array.

            if (inputContainer.contains(inputField)) {
                inputContainer.removeChild(inputField);
            }
            if (lineBreak) {
                inputContainer.removeChild(lineBreak);
            }
        }
    });

    const displayIngredients = document.getElementById('displayIngredients'); // Create a display area

    document.getElementById('getIngredients').addEventListener('click', function() {
        const inputFields = document.querySelectorAll('.inputContainer input[type="text"]');
        ingredientsArray.length = 0; // Clear the ingredients array

        ingredientsArray = ingredientsArray.concat(imageClasses);

        inputFields.forEach(function(inputField) {
            ingredientsArray.push(inputField.value);
        });

        const csrftoken = "{{ csrf_token|escapejs }}";
        var data = {'ingredients' : ingredientsArray};
        var URL = "{% url 'display_recipes' %}";

        $.ajax({
            url: URL,
            method: 'POST',
            data: data,
            headers: {
                'X-CSRFToken': csrftoken,
            },
            success: function(response) {
                console.log("AJAX success");
            },
        });

        console.log(ingredientsArray); // Log the ingredients array
        //displayIngredients.textContent = ingredientsArray.join(', '); // Display the ingredients on the page
    });

    document.getElementById('goBack').addEventListener('click', function () {
        // Redirect to the specified URL
        window.location.href = "{% url 'home' %}";
    });
});


var ingredientList = ['buckwheat', 'litchi', 'fish oil', 'wort', 'pupusa', 'lime peel oil', 'alaska blackfish', 'potato bread', 'heart of palm', 'kidney beans', 'wasabi', 'canola oil', 'pollock', 'butternut squash', 'mandarin orange peel oil', 'cluster bean', 'cetacea', 'emu', 'mate', 'hogplum', 
'pigeon pea', 'hops', 'moth bean', 'salmon', 'cucurbita', 'orange oil', 'frankfurter sausage', 'northern bluefin tuna', 'ginger', 'shrimp', 'bitter orange', 'atlantic mackerel', 'kohlrabi', 'hops beer', 'ravioli', 'whitefish', 'tortilla', 'malabar spinach', 'poppy seed', 'guinea hen', 'dill', 'valerian', 
'drumstick leaf', 'jerusalem artichoke', 'parsnip', 'oregon yampah', 'chia', 'provolone cheese', 'enchilada', 'coconut', 'akutaq', 'bottlegourd', 'greenthread tea', 'purslane', 'hot dog', 'domiati cheese', 'breadfruit', 'creosote', 'chewing gum', 'soy milk', 'coriander seed', 'lemon verbena', 'white sucker', 
'hops oil', 'arrack', 'peas', 'potato', "elliott's blueberry", 'cranberry', 'meat bouillon', 'cheese', 'sour cherry', 'candy bar', 'mountain papaya', 'tangerine', 'gooseberry', 'pak choy', 'oriental wheat', 'oats', 'true frog', 'chive', 'black raspberry', 'peanut', 'potato puffs', 'muskrat', 'lime', 
'pepper', 'cardoon', 'celery', 'leek', 'pecans', 'pitanga', 'mozzarella cheese', 'lambsquarters', 'pikeperch', 'coriander', 'apple sauce', 'milk fat', 'milkfish', 'wine', 'wattle', 'alaska wild rhubarb', 'soy yogurt', 'black mulberry', 'allium', 'green beans', 'grapefruit', 'turmeric', 'water', 'lake trout', 
'nanking cherry', 'jackfruit', 'macadamia nut', 'piki bread', 'fruit juice', 'rosemary', 'white lupine', 'pheasant', 'eggplant', 'vinegar', 'alfalfa', 'lemon balm', 'broccoli', 'mammee apple', 'pawpaw', 'garland chrysanthemum', 'ceriman', 'pork', 'brown bear', 'honey', 'liquid smoke', 'lemon grass', 
'yellowfin tuna', 'sago palm', 'mastic gum', 'pacific herring', 'fireweed', 'okra', 'squashberry', 'passionfruit', 'jicama', 'rainbow smelt', 'lean fish', 'crab', 'potato chip', 'apricot', 'garden cress', 'hibiscus tea', 'pili nut', 'cardamom', 'buffalo currant', 'tomato puree', 'kai lan', 'corn', 
'fatty fish', 'ostrich fern', 'corn grits', 'arrowroot', 'cocoa', 'apple', 'arabica coffee', 'colocasia', 'flour', 'spearmint', 'garlic', 'canada blueberry', 'citrus peel oil', 'lobster', 'syrup', 'vodka', 'fish burger', 'alaska pollock', 'narrowleaf cattail', 'cherry', 'strawberry wine', 'biscuit', 'miso', 
'red wine', 'bearded seal', 'safflower', 'bantu beer', 'persimmon', 'chinese quince', 'succotash', 'russian cheese', 'carp bream', 'arepa', 'cream', 'pepino', 'hummus', 'beef', 'scotch', 'lavendar', 'pineapple', 'grass pea', 'phyllo dough', 'remoulade', 'yautia', 'melon', 'black huckleberry', 'spiny dogfish', 
'popcorn', 'water chestnut', 'anchovy', 'focaccia', 'chimichanga', 'haddock', 'catjang pea', 'lumpsucker', 'bowhead whale', 'hamburger', 'cloud ear fungus', 'rye bread', 'loganberry', 'chinese chestnut', 'cheddar cheese', 'molasses', 'ostrich', 'coconut oil', 'tea leaf willow', 'cake', 'atlantic wolffish', 
'common dab', 'snapper', 'chervil', 'yarrow', 'gelatin', 'babaco', 'flatfish', 'muskmallow', 'horse', 'raspberry', 'welsh onion', 'rainbow trout', 'stuffing', 'pie', 'european chestnut', 'meat', 'port wine', 'roe', 'sausage', 'roselle', 'breakfast cereal', 'yeast', 'walnut', 'nopal', 'coho salmon', 'walleye', 
'walrus', 'shortening', 'alpine sweetvetch', 'sauerkraut', 'byrsonima crassifolia', 'toffee', 'apple cider vinegar', 'cumin', 'garfish', 'cherry pepper', 'soursop', 'drag̩e', 'arar', 'flaxseed', 'storax', 'quince', 'gelatin dessert', 'chocolate', 'squab', 'carob', 'anise', 'rose hip', 'coconut milk', 'semolina', 
'curry leaf', 'japanese persimmon', 'sablefish', 'bilberry', 'quail', 'fig', 'spelt', 'bayberry', 'jostaberry', 'sockeye salmon', 'durian', 'winged bean', 'common persimmon', 'tofu', 'basmati rice', 'orris', 'orange roughy', 'sugar', 'capers', 'spiny lobster', 'carom seed', 'fish', 'mustard oil', 'ham', 
'chickpea', 'tarragon', 'cloudberry', 'ascidians', 'sourdock', 'roquefort cheese', 'bread', 'medlar', 'orange', 'greylag goose', 'pacific rockfish', 'wild rice', 'myrrh', 'spirulina', 'norway haddock', 'filbert', 'cinnamon', 'raspberry brandy', 'pasta', 'lingonberry', 'rapini', 'striped mullet', 'rowal', 
'endive', 'guava', 'sheefish', 'burrito', 'grouper', 'rose wine', 'taro', 'sage', 'colorado pinyon', 'armagnac brandy', 'soybean sauce', 'soybean', 'meringue', 'pine', 'plumcot', 'cured ham', 'bartlett pear', 'rice', 'brussels sprout', 'dolphin fish', 'lasagna', 'white pepper', 'northern pike', 'papaya brandy', 
'sassafras', 'kenaf', 'winter squash', 'sturgeon', 'rhubarb', 'woodapple', 'kumquat', 'sheepshead', 'sorghum', 'vegetable juice', 'cascarilla', 'rice bread', 'ginkgo nuts', 'liqourice', 'tapioca pearl', 'smoked fish', 'krill', 'sesbania flower', 'towel gourd', 'malabar plum', 'cashew apple', 'multigrain bread', 
'grapefruit peel oil', 'steller sea lion', 'american shad', 'mushroom', 'sea buckthorns', 'pineappple sage', 'great horned owl', 'pear', 'cajeput', 'tilsit cheese', 'rocket salad', 'kombu', 'black bear', 'achilleas', 'prairie turnip', 'fruit salad', 'nougat', 'pacific sardine', 'french plantain', 'clary sage', 
'common octopus', 'tortilla chip', 'avocado', 'prawn', 'whisky', 'lima beans', 'common carp', 'beluga whale', 'peach', 'saffron', 'anise brandy', 'tree fern', 'parsley', 'beer', 'new zealand spinach', 'enokitake', 'wonton wrapper', 'currant', 'malt', 'anise hyssop', 'cornmint', 'buchu', 'bluefish', 'clupeinae', 
'french toast', 'abalone', 'dumpling', 'yellow passionfruit', 'coffee mocha', 'spanish mackerel', 'pumpkin', 'crispbread', 'canadian whisky', 'bitter cherry', 'morchella', 'giant butterbur', 'swordfish', 'wheaten bread', 'pomegranate', 'hyacinth', 'kewda', 'asafoetida', 'rose', 'food coloring', 'egg roll', 
'vermouth', 'waffle', 'bourbon whisky', 'quesadilla', 'apple brandy', 'millet', 'turkey', 'relish', 'scotch spearmint', 'mutton', 'mango', 'rowanberry', 'allspice', 'sandalwood', 'fruit gum', 'devilfish', 'pacific jack mackerel', 'spread', 'wheat', 'common verbena', 'mentha oil', 'monkfish', 'spirit', 
'cherry brandy', 'lemon', 'shark', 'hedge mustard', 'angelica', 'oil-seed camellia', 'anguilliformes', 'striped bass', 'atlantic salmon', 'beef processed', 'acerola', 'spotted seal', 'sourdough', 'maitake', 'pink salmon', 'tobacco', 'tequila', 'alpinia', 'kale', 'gelatin', 'frybread', 'irish moss', 'calamus', 
'ginseng', 'romano cheese', 'caviar', 'epazote', 'pummelo', 'vanilla', 'goat cheese', 'polar bear', 'empanada', 'cashew nut', 'lotus', 'european rabbit', 'tomato juice', 'chicory', 'naranjilla', 'munster cheese', 'chocolate spread', 'white currant', 'radish', 'scallop', 'jalapeno', 'mulberry', 'atlantic croaker', 
'natto', 'horseradish', 'codfish', 'pate', 'catfish', 'pancake', 'beaver', 'skimmed milk', 'beefalo', 'ashgourd', 'white wine', 'shea tree', 'mule deer', 'cauliflower', 'pie crust', 'sake', 'ketchup', 'mandarin orange', 'starfruit', 'sea cucumber', 'bonito', 'meatball', 'cognac brandy', 'marshmallow', 'brown rice', 
'clove', 'acorn', 'tostada', 'common ling', 'oyster mushroom', 'north pacific giant octopus', 'milk human', 'triticale', 'crayfish', 'caraway', 'burdock', 'pistachio', 'true sole', 'florida pompano', 'hyacinth bean', 'pumpkinseed sunfish', 'gadiformes', 'olive', 'wild boar', 'atlantic pollock', 'truffle', 
'swamp cabbage', 'conch', 'ylang-ylang', 'wholewheat bread', 'artichoke', 'comte cheese', 'blue cheese', 'chinook salmon', 'coffee', 'japanese chestnut', 'black salsify', 'muscadine grape', 'roibos tea', 'green turtle', 'capsicum', 'malay apple', 'sweet cherry', 'cider', 'cooking spray', 'japanese pumpkin', 
'junket', 'broad whitefish', 'sweetcorn', 'beli', 'condensed milk', 'cassia', 'cucumber', 'tomato paste', 'turbot', 'bulgur', 'cherimoya', 'kelp', 'pita bread', 'feta cheese', 'black-eyed pea', 'yardlong bean', 'hushpuppy', 'plum brandy', 'chestnut', 'rabbit', 'garcinia indica', 'mung bean', 'cassava', 
'peanut oil', 'pear brandy', 'blue whiting', 'cherry tomato', 'pudding', 'plum', 'roseapple', 'falafel', 'soup', 'zucchini', 'rye', 'blueberry', 'potato gratin', 'lard', 'milkshake', 'couscous', 'atlantic herring', 'berry wine', 'rambutan', 'red algae', 'oyster', 'prickly pear', 'gefilte fish', 
'percoidei', 'scrapple', 'chinese bayberry', 'sapodilla', 'gruyere cheese', 'taco', 'soft drink', 'caribou', 'mint', 'basil', 'jellyfish', 'whey', 'jujube', 'loquat', 'purple laver', 'perciformes', 'hazelnut', 'chayote', 'star anise', 'bergamot', 'natal plum', 'tamale', 'margarine', 'red rice', 
'agar', 'anatidae', 'stew', 'green zucchini', 'freshwater eel', 'chamomile', 'deerberry', 'citronella oil', 'sweet potato', 'tinda', 'sukiyaki', 'wakame', 'borage', 'moose', 'ringed seal', 'apple juice', 'deer', 'charr', 'fir', 'chum salmon', 'thistle', 'dates', 'milk', 'musk melon', 'linden', 
'leather chiton', 'painted comber', 'almond', 'cold cut', 'pan dulce', 'chocolate mousse', 'tamarind', 'ice cream', 'onion', 'ohelo berry', 'red sage', 'parmesan cheese', 'corn salad', 'fennel', 'european anchovy', 'pot pie', 'monosodium glutamate', 'ymer', 'peanut butter', 'peppermint', 'small leaf linden', 
'fudge', 'lamb', 'saskatoon berry', 'brazil nut', 'salmonberry', 'laurel', 'red currant', 'buttermilk', 'champaca', 'bison', 'bivalvia', 'lingcod', 'silver linden', 'sparkleberry', 'black currant', 'clam', 'topping', 'pectin', 'abiyuch', 'greater sturgeon', 'anise oil', 'oil palm', 'casein', 'cooking oil', 
'bilberry wine', 'black crowberry', 'sorrel', 'king mackerel', 'channel catfish', 'blackberry', 'longan', 'cichlidae', 'sweet custard', 'smelt', 'raisin bread', 'american pokeweed', 'climbing bean', 'botrytized wine', 'champagne', 'lemon peel oil', 'buffalo', 'sherry', 'banana', 'citric acid', 'pizza', 'teff', 
'cuttlefish', 'chicken', 'bagel', 'nachos', 'evening primrose', 'whiting', 'green tea', 'oat bread', 'nigella seed', 'raccoon', 'eucalyptus oil', 'purple mangosteen', 'cabbage', 'plum wine', 'squid', 'atlantic menhaden', 'true seal', 'neroli oil', 'strawberry', 'papaya', 'pleuronectidae', 'meatloaf', 
'mexican groundcherry', 'rock ptarmigan', 'scarlet bean', 'dock', 'lentils', 'kefir', 'greenland halibut', 'cornbread', 'redskin onion', 'shallot', 'arrowhead', "jew's ear", 'pastry', 'mountain hare', 'nance', 'burbot', 'rice cake', 'ocean pout', 'icing', 'sheep milk', 'egg', 'ricotta cheese', 'ucuhuba', 
'cedar', 'barley', 'grass', 'spineless monkey orange', 'hyssop oil', 'pacific ocean perch', 'shellfish', 'mountain yam', 'camembert cheese', 'ghee', 'red raspberry', 'sparkling wine', 'trassi', 'salad', 'gram bean', 'oregano', 'chanterelle', 'salt', 'white bread', 'butternut', 'watercress', 'yellow pond lily', 
'skunk currant', 'quinoa', 'tea', 'citrus fruits', 'weinbrand brandy', 'beans', 'cocoa butter', 'tilefish', 'beetroot', 'nutmeg', 'marjoram', 'madeira wine', 'babassu palm', 'leavening agent', 'geranium', 'elk', 'cocktail', 'hard wheat', 'mace', 'cream cheese', 'evaporated milk', 'fenugreek', 'satsuma orange', 
'scup', 'dandelion', 'goat milk', 'groundcherry', 'lemon juice', 'scombridae', 'norway pout', 'dulce de leche', 'cottonseed', 'mixed nuts', 'american butterfish', 'japanese whisky', 'rum', 'corn chip', 'baked potato', 'sheep cheese', 'gin', 'lupine', 'bittergourd', 'malt whisky', 'columbidae', 'blackberry brandy', 
'macaroni', 'spanish sage', 'salad dressing', 'sesame', 'tartary buckwheat', 'albacore tuna', 'freshwater drum', 'common tuna', 'boysenberry', 'mustard', 'atlantic halibut', 'carrot', 'spinach', 'sunflower', 'horned melon', 'wild duck', 'lovage', 'winter savory', 'finnish whisky', 'amaranth', 'whelk', 'zwieback', 
'summer savory', 'nuttall cockle', 'soybean oil', 'tomato', 'jasmine', 'cottage cheese', 'hot chocolate', 'brandy', 'cusk', 'turnip', 'mexican oregano', 'thyme', 'milk powder', 'marzipan', 'asparagus', 'red king crab', 'baking powder', 'fried potato', 'beech nut', 'feijoa', 'strawberry jam', 'swiss cheese', 
'horchata', 'elderberry', 'snail', 'yogurt', 'grape', 'paneer', 'squirrel', 'cayenne', 'yam', 'cisco', 'soy cream', 'trail mix', 'snack bar', 'komatsuna', 'jute', 'mollusc', 'artemisia', 'turkey berry', 'corn oil', 'salmonidae', 'shiitake', 'myrtle', 'opossum', 'kiwifruit', 'chard', 'fermented tea', 'butter', 
'rutabaga', 'yellowtail amberjack', 'cocoa powder', 'raisin', 'lettuce', 'agave', 'ice cream cone', 'black tea', 'common salsify', 'hippoglossus', 
'limburger cheese', 'bamboo shoots', 'adzuki bean', 'emmental cheese', 'adobo', 'sweet grass', 'spot croaker', 'camphor', 'sea trout', 'lemon sole']  



</script>

