<!-- display_image.html -->
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui segment">
        <h1>Welcome to FlavorTown.AI</h1>
    </div>

    <button class="fluid ui button" id="goBack">
        <i class="reply icon"></i>
        Go Back!
    </button>

    {% if uploaded_image %}
        <img src="{{ uploaded_image.image.url }}" alt="Uploaded Image" style="width: 300px; height: 300px;">
    {% else %}
        <p>No image uploaded</p>
    {% endif %}
    
    <div class = "ui segment">
        <h3>
            Ingredients
        </h3>
        <div class="inputContainer">
            <br>
            <button class="ui compact icon button" id="addInput"><i class="plus icon"></i></button>
        </div>
    </div>

    <button class="fluid ui button" id="getIngredients" type="submit">
        <i class="bolt icon"></i>
        Generate Recipes!
    </button>

    <div id="displayIngredients"></div>

</body>
</html>

<script>
document.addEventListener('DOMContentLoaded', function () {

    let inputCounter = 1; // To keep track of input IDs

    // Decode array received from Django.
    function decodeHtmlEntities(encodedArray) {
    // Split the input string into an array
        return encodedArray.split(',').flatMap(function (item) {
        // Parse each item as HTML
            var doc = new DOMParser().parseFromString(item, 'text/html');
            // Get the text content
            var decodedValue = doc.body.textContent || "";
            // Remove leading and trailing characters
            decodedValue = decodedValue.replace(/[^\w\s]/g, '');
            // Return the decoded value
            return decodedValue;
        });
    }

    let imageClasses = decodeHtmlEntities("{{imageClasses}}")

    // Add a new label for ingredient element in imageClasses.
    for (var i = 0; i < imageClasses.length; i++){
        const inputContainer = document.querySelector('.inputContainer');
        const newInputField = document.createElement('div');
        newInputField.className = 'ui input';
        newInputField.id = inputCounter;
        newInputField.innerHTML = `
            <p class="ui label">${imageClasses[i]}</p>
            <button class="ui compact icon button remove-input" id="removeInput${inputCounter}"><i class="trash icon"></i></button>
        `;
        inputContainer.insertBefore(newInputField, document.getElementById('addInput'));

        // Add a line break after each new text input
        const lineBreak = document.createElement('br');
        inputContainer.insertBefore(lineBreak, document.getElementById('addInput'));

        inputCounter++; // Increment the inputCounter
    }

    let ingredientsArray = []; // Create an array to store ingredients

    document.getElementById('addInput').addEventListener('click', function() {
        const inputContainer = document.querySelector('.inputContainer');
        const newInputField = document.createElement('div');
        newInputField.className = 'ui input';
        newInputField.innerHTML = `
            <input type="text">
            <button class="ui compact icon button remove-input" id="removeInput${inputCounter}"><i class="trash icon"></i></button>
        `;
        inputContainer.insertBefore(newInputField, document.getElementById('addInput'));

        // Add a line break after each new text input
        const lineBreak = document.createElement('br');
        inputContainer.insertBefore(lineBreak, document.getElementById('addInput'));

        inputCounter++; // Increment the inputCounter

    });

    document.querySelector('.inputContainer').addEventListener('click', function(event) {
        if (event.target.classList.contains('remove-input')) {
            const inputContainer = document.querySelector('.inputContainer');
            const inputField = event.target.parentElement;
            const lineBreak = inputField.nextElementSibling; // Get the next sibling (line break)
            const removeID = inputContainer.id;

            imageClasses.splice(removeID - 1, 1); // Delete from array.

            if (inputContainer.contains(inputField)) {
                inputContainer.removeChild(inputField);
            }
            if (lineBreak) {
                inputContainer.removeChild(lineBreak);
            }
        }
    });

    const displayIngredients = document.getElementById('displayIngredients'); // Create a display area

    document.getElementById('getIngredients').addEventListener('click', function() {
        const inputFields = document.querySelectorAll('.inputContainer input[type="text"]');
        ingredientsArray.length = 0; // Clear the ingredients array

        ingredientsArray = ingredientsArray.concat(imageClasses);

        inputFields.forEach(function(inputField) {
            ingredientsArray.push(inputField.value);
        });

        const csrftoken = "{{ csrf_token|escapejs }}";
        var data = {'ingredients' : ingredientsArray};
        var URL = "{% url 'displays_recipes' %}";

        $.ajax({
            url: URL,
            method: 'POST',
            data: data,
            headers: {
                'X-CSRFToken': csrftoken,
            },
            success: function(response) {
                window.location.href = "{% url 'displays_recipes' %}";
            },
        });

        console.log(ingredientsArray); // Log the ingredients array
        //displayIngredients.textContent = ingredientsArray.join(', '); // Display the ingredients on the page
    });

    document.getElementById('goBack').addEventListener('click', function () {
        // Redirect to the specified URL
        window.location.href = "{% url 'home' %}";
    });
});
</script>

