<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div class="ui segment">
        <div class="ui segment">
            <h1>Welcome to FlavorTown.AI</h1>
        </div>

        <button class="fluid ui button" id="goBack">
            <i class="reply icon"></i>
            Go Back!
        </button>
        
        {% for recipe, details in recipes.items() %}
            <p>{{ recipe }}</p>
            <p>{{ details }}</p>
        {% endfor %}


    </div>
</body>

<script>
    document.getElementById('goBack').addEventListener('click', function () {
        // Redirect to the specified URL
        window.location.href = "{% url 'home' %}";
    });
</script>
