<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div class="ui segment">
        <div class="ui segment">
            <h1>Welcome to FlavorTown.AI</h1>
        </div>
        
        {% for recipe in recipes %}
        <p>{{ recipe }}</p>
        {% endfor %}

    </div>
</body>
